
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

<div class="col-md-offset-3">
    <div class="h2">Eve Teslim Diyet Servisine Hoşgeldiniz..!</div>
    <p class="lead">Sistem üzerinden sipariş vermek için lütfen kullanıcı bilgilrinizi eksiksiz bir şekilde doldurunuz.</p>
    <p><a class="btn btn-lg btn-success" href="@Url.Action("Profil","Kullanici")" role="button">Profile Git</a></p>
</div>

