
@{
    ViewBag.Title = "Prizes";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}


<div class="fw pageTitleAll">
    <div class="container">
        <div class="fw pageTitle">
            <h1 class="title">FİYATLARIMIZ</h1>
        </div><!--.pageTitle-->
    </div><!--.container-->
</div><!--.pageTitleAll-->
<div class="container">
    <div class="fw pageContent">
        <p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p>
        <p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p>
    </div><!--.pageContent-->
</div><!--.container-->
<div class="container">
    <div class="fw pricingTable">
        <div class="fw pricingTableTop">
            <ul role="tablist">
                <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Tam Gün Paketi</a></li>
                <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Akşam Paketi</a></li>
                <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Öğlen Paketi</a></li>
                <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Sabah Paketi</a></li>
            </ul>
        </div><!--.top-->
        <div class="fw pricingTableBot">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                    <div class="fw pricingTableBox">
                        <div class="fw pricingTableBoxInfo">
                            Öğlen ve 2 ara öğün: Toplam 3 öğün

                        </div><!--.info-->
                        <div class="fw piricingTableBoxTabs">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1300 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1700 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">2100 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.tabs-->
                        <div class="fw pricingTableBoxKDV">
                            * Fiyatlarımız teslimat ve KDV dahil günlük fiyatlarıdır.

                        </div><!--.kdv-->
                        <div class="fw pricingTablePurchase">
                            <a class="purchaseButton" href="#">SİPARİŞ VER</a>
                        </div><!--.purchase-->
                    </div><!--.pricingTableBox-->
                </div><!--.tab1-->
                <div role="tabpanel" class="tab-pane fade" id="tab2">
                    <div class="fw pricingTableBox">
                        <div class="fw pricingTableBoxInfo">
                            Öğlen ve 2 ara öğün: Toplam 3 öğün

                        </div><!--.info-->
                        <div class="fw piricingTableBoxTabs">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1300 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1700 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">2100 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.tabs-->
                        <div class="fw pricingTableBoxKDV">
                            * Fiyatlarımız teslimat ve KDV dahil günlük fiyatlarıdır.

                        </div><!--.kdv-->
                        <div class="fw pricingTablePurchase">
                            <a class="purchaseButton" href="#">SİPARİŞ VER</a>
                        </div><!--.purchase-->
                    </div><!--.pricingTableBox-->
                </div><!--.tab1-->
                <div role="tabpanel" class="tab-pane fade" id="tab3">
                    <div class="fw pricingTableBox">
                        <div class="fw pricingTableBoxInfo">
                            Öğlen ve 2 ara öğün: Toplam 3 öğün

                        </div><!--.info-->
                        <div class="fw piricingTableBoxTabs">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1300 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1700 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">2100 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.tabs-->
                        <div class="fw pricingTableBoxKDV">
                            * Fiyatlarımız teslimat ve KDV dahil günlük fiyatlarıdır.

                        </div><!--.kdv-->
                        <div class="fw pricingTablePurchase">
                            <a class="purchaseButton" href="#">SİPARİŞ VER</a>
                        </div><!--.purchase-->
                    </div><!--.pricingTableBox-->
                </div><!--.tab1-->
                <div role="tabpanel" class="tab-pane fade " id="tab4">
                    <div class="fw pricingTableBox">
                        <div class="fw pricingTableBoxInfo">
                            Öğlen ve 2 ara öğün: Toplam 3 öğün

                        </div><!--.info-->
                        <div class="fw piricingTableBoxTabs">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1300 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">1700 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                                <div class="col-sm-12 col-md-4 pricingTableBoxCol">
                                    <div class="fw pricingTableDetail">
                                        <ul>
                                            <li class="title">2100 Kalori Paketi</li>
                                            <li class="desc">32 TL</li>
                                        </ul>
                                    </div><!--.detail-->
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.tabs-->
                        <div class="fw pricingTableBoxKDV">
                            * Fiyatlarımız teslimat ve KDV dahil günlük fiyatlarıdır.

                        </div><!--.kdv-->
                        <div class="fw pricingTablePurchase">
                            <a class="purchaseButton" href="#">SİPARİŞ VER</a>
                        </div><!--.purchase-->
                    </div><!--.pricingTableBox-->
                </div><!--.tab1-->
            </div><!--.tabcontent-->
        </div><!--.bot-->
    </div><!--.pricingTable-->
</div><!--.container-->
