@model ETDS.Models.Diyetisyen
@using (Html.BeginForm("DeleteDiyetisyen", "SistemKullanici", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Diyetisyen Sil</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <p>Diyetisyeni silmeyi onaylıyor musunuz?</p>
                @Html.HiddenFor(model => model.Id)
            </div>

            <div class="pull-right clearfix">
                <input type="submit" value="SİL" class="btn btn-primary btn-md" />  <a href="@Url.Action("ListDiyetisyen", "SistemKullanici")" class="btn btn-default btn-md">İPTAL</a>
            </div>
        </div>
    </div>
}

