@{
    ViewBag.Title = "Hakkımızda";
}

<div class="fw pageTitleAll">
    <div class="container">
        <div class="fw pageTitle">
            <h1 class="title">HAKKIMIZDA</h1>
        </div><!--.pageTitle-->
    </div><!--.container-->
</div><!--.pageTitleAll-->
<div class="container">
    <div class="fw pageContent">
        <img src="~/Images/yya.jpg" />
        <p>Günümüz dünyasında obezite tehdidi hızla yayılmaktadır. İnsanların vakit tasarrufu sebebi ile yeme alışkanlıkları gün geçtikçe hızlı hazırlanan kolay temin edilebilen yiyeceklere doğru yönelmektedir. Bu ihtiyaçlar fast food kültürünü hızla hayatlarımızın içerisine dahil etmiş durumda. Bu tarz düzensiz beslenme şekilleri hepimizin hayatında yer edinmekle birlikte için risk teşkil etmekte. Bu nedenle gerek sağlıklı beslenme alışkanlığını sürdürmek isteyen gerekse 	bir diyetisyen müdahalesi ile sağlıklı beslenme alışkanlığı edinmek isteyen insanlar için sağlıklı besin temini ihtiyaç haline gelmiştir. Bu ihtiyaçlar doğrultusunda Eve Teslim Diyet Servisi ortaya çıkmıştır. </p>
        <p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p>
    </div><!--.pageContent-->
</div><!--.container-->