@*Page Content*@
<div class="fw homeSliderAll">
    <div class="item">
        <div class="fw homeSliderItem cover" style="  background-image: url('../../Images/yya.jpg');
">
            <div class="container">
                <div class="fw homeSliderItemBox">
                    <ul>
                        <li class="title">Yinelenen bir sayfa içeriğinin</li>
                        <li class="desc">Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</li>
                        <li class="more"><a href="#" class="moreLink">DAHA FAZLA BİLGİ</a></li>
                    </ul>
                </div><!--.box-->
            </div><!--.container-->
        </div><!--.homeSliderItem-->
    </div><!--.item-->

</div><!--.homeSliderAll-->


<div class="container">
    <div class="fw servicesAll">
        <div class="fw sectionTitle">
            <span class="title">KALORİ PAKETLERİ</span>
        </div><!--.sectionTitle-->
        <div class="fw servicesBox">
            <div class="row">
                <div class="col-sm-12 col-md-4 servicesCol">
                    <div class="fw servicesColBox">
                        <ul>
                            <li class="image"><a class="cover" href="#" style="background-image:url(/Images/yy1.jpg)"></a></li>
                            <li class="title"><a href="#"> 1700 Kalori Sabah Paketi</a><span class="price">32 TL</span></li>
                            <li class="desc">Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya..</li>
                            <li class="more"><a href="javaScript:void(0)" data-toggle="modal" data-target="#modal1" class="moreOther"> İncele</a></li>
                        </ul>
                    </div><!--.colBox-->
                    <!-- Modal -->
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog newModalDialog" role="document">
                            <div class="fw newModal">
                                <span class="closeButton" data-dismiss="modal" aria-label="Close">KAPAT</span>
                                <div class="fw newModalBox">
                                    <div class="fw servicesColBox hasModal">
                                        <ul>
                                            <li class="image"><a class="cover" href="#" style="  background-image: url('../../Images/syr1.jpg');"></a></li>
                                            <li class="title"><a href="#"> 1700 Kalori Sabah Paketi</a><span class="price">32 TL</span></li>
                                            <li class="desc"><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p></li>
                                            <li class="more"><a href="#" class="moreOther">SİPARİŞ VER</a></li>
                                        </ul>
                                    </div><!--.colBox-->
                                </div><!--.newModalBox-->
                            </div><!--.newModal-->
                        </div><!--.dialog-->
                    </div><!--.fade-->
                    <!-- Modal -->
                    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog newModalDialog" role="document">
                            <div class="fw newModal">
                                <span class="closeButton" data-dismiss="modal" aria-label="Close">KAPAT</span>
                                <div class="fw newModalBox">
                                    <div class="fw servicesColBox hasModal">
                                        <ul>
                                            <li class="image"><a class="cover" href="#" style="background-image:url('../../Images/sy2.jpg');"></a></li>
                                            <li class="title"><a href="#"> 1300 Kalori Öğlen Paketi</a><span class="price">32 TL</span></li>
                                            <li class="desc"><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p></li>
                                            <li class="more"><a href="#" class="moreOther">SİPARİŞ VER</a></li>
                                        </ul>
                                    </div><!--.colBox-->
                                </div><!--.newModalBox-->
                            </div><!--.newModal-->
                        </div><!--.dialog-->
                    </div><!--.fade-->
                    <!-- Modal -->
                    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog newModalDialog" role="document">
                            <div class="fw newModal">
                                <span class="closeButton" data-dismiss="modal" aria-label="Close">KAPAT</span>
                                <div class="fw newModalBox">
                                    <div class="fw servicesColBox hasModal">
                                        <ul>
                                            <li class="image"><a class="cover" href="#" style="        background-image: url('../../Images/sy3.jpg');"></a></li>
                                            <li class="title"><a href="#"> 2100 Kalori Akşam Paketi</a><span class="price">32 TL</span></li>
                                            <li class="desc"><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p><p>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır.Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir.Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.</p></li>
                                            <li class="more"><a href="#" class="moreOther">SİPARİŞ VER</a></li>
                                        </ul>
                                    </div><!--.colBox-->
                                </div><!--.newModalBox-->
                            </div><!--.newModal-->
                        </div><!--.dialog-->
                    </div><!--.fade-->

                </div><!--.servicesCol-->
                <div class="col-sm-12 col-md-4 servicesCol">
                    <div class="fw servicesColBox">
                        <ul>
                            <li class="image"><a class="cover" href="#" style="background-image:url(/Images/yy1.jpg)"></a></li>
                            <li class="title"><a href="#"> 1300 Kalori Öğlen Paketi</a><span class="price">32 TL</span></li>
                            <li class="desc">Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya..</li>
                            <li class="more"><a href="javaScript:void(0)" data-toggle="modal" data-target="#modal2" class="moreOther"> İncele</a></li>
                        </ul>
                    </div><!--.colBox-->
                </div><!--.servicesCol-->
                <div class="col-sm-12 col-md-4 servicesCol">
                    <div class="fw servicesColBox">
                        <ul>
                            <li class="image"><a class="cover" href="#" style="background-image:url(/Images/yy1.jpg)"></a></li>
                            <li class="title"><a href="#"> 2100 Kalori Akşam Paketi</a><span class="price">32 TL</span></li>
                            <li class="desc">Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.Lorem Ipsum kullanmanın amacı, sürekli 'buraya..</li>
                            <li class="more"><a href="javaScript:void(0)" data-toggle="modal" data-target="#modal1" class="moreOther"> İncele</a></li>
                        </ul>
                    </div><!--.colBox-->
                </div><!--.servicesCol-->
            </div><!--.row-->
        </div><!--.servicesBox-->
    </div><!--.servicesAll-->
</div><!--.container-->
